<div class="container py-5 min-vh-100">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-4 mb-4">About Us</h1>
            <p class="lead mb-4">
                It all started when <strong> Vishnu, Amogh, Rudrangshu, Jaswanth, Sujit and Rakesh </strong> came up with the idea of
                <strong>BookHotel</strong>.
                We are a team of passionate individuals dedicated to put our best
                efforts into our project. Our goal is to implement the concepts learnt during our <strong>DotNet-Angular</strong>
                training and to ensure a seamless and
                enjoyable experience for every user, every time.
            </p>

        </div>

    </div>
    <div class="row mt-5">
        <div class="col-md-4 text-center">
            <h2 class="h4">Our Mission</h2>
            <p>
                Keep working on this website to make it better and better.
            </p>
        </div>
        <div class="col-md-4 text-center">
            <h2 class="h4">Our Vision</h2>
            <p>
                To keep learning and improving our skills.
            </p>
        </div>
        <div class="col-md-4 text-center">
            <h2 class="h4">Our Values</h2>
            <p>
                Integrity, passion, teamwork, and most importantly, we never give up!.
            </p>
        </div>
    </div>
</div>